footer {
  background: var(--color-background-lightest);
  padding: 1rem;
  border-top: 2px solid var(--color-text-lighter);
  border-bottom: 2px solid var(--color-text-lighter);
  margin-top: var(--size-text-huge);
}

footer .credits {
  text-align: center;
}