* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: var(--size-text-default);
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

::selection {
  background-color: var(--color-accent-1);
}

main {
  width: 30rem;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headlines);
  font-weight: normal;
}

h2 {
  font-size: var(--size-text-large);
}

strong {
  font-family: var(--font-headlines);
}

:not(.card) a {
  text-decoration-thickness: 2px;
}

:not(.card) a:is(:hover, :focus) {
  text-decoration-thickness: 4px;
  text-decoration-color: var(--color-accent-2-darker);
}

.links {
  margin: var(--size-text-default) auto var(--size-text-xxlarge) auto;
}

.card {
  list-style-type: none;
  text-align: center;}

.card + .card {
  margin-top: 1.5rem;
}

.card a {
  --outline: var(--color-text-lightest);

  display: block;
  width: 100%;
  
  background-color: var(--card-background);

  text-decoration: none;

  padding: 1rem;
  border-radius: var(--card-radius);
  border: 2px solid var(--outline);

  box-shadow: 1px 1px 0 0 var(--outline),
    2px 2px 0 0 var(--outline),
    3px 3px 0 0 var(--outline),
    4px 4px 0 0 var(--outline),
    0 0 0 0 var(--card-background) inset;

  position: relative;
  top: 0;
  left: 0;

  transition: box-shadow var(--animation-length), 
    top var(--animation-length),
    left var(--animation-length),
    background-color var(--animation-length-slower),
    text-decoration-color var(--animation-length);
}

.card a:is(:focus, :hover) {
  --outline: var(--color-text-lightest);
  box-shadow: 0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 1.5px 0 0 var(--card-background) inset;

  background-color: var(--card-background-shadow);

  top: 4px;
  left: 4px;
}


.card a:focus {
  outline: none;
  --outline: var(--color-text-lightest);
  box-shadow: 0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 0 0 2px var(--color-background-primary),
    0 0 0 4px var(--outline),
    0 1.5px 0 0 var(--card-background) inset;
  top: 0;
  left: 0;
}

.card a:active {
  --outline: var(--color-text-lightest);
  box-shadow: 0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 0 0 0 var(--outline),
    0 1.5px 0 0 var(--card-background) inset,
    0 0 0 2px var(--color-background-primary),
    0 0 0 4px var(--card-background-shadow);
}

.card.branded a  {
  display: flex;
  justify-content: space-between;
}

.card.branded a > span {
  text-align: left;
}

.card.branded a > span + span {
  text-align: right;
  font-size: 1rem;
  position: relative;
  top: 0.25rem;
  font-family: var(--font-headlines);
  color: var(--color-text-lighter);
}

.card.branded a:is(:hover, :focus) > span + span {
  color: var(--color-text-primary-darker);
}

.card.branded:has(a:is(:hover, :focus)) {
  position: relative;
}

.card.branded:before {
  box-shadow: 0 0 0px var(--card-background);
  transition: box-shadow 0.5s;
}

.card.branded:has(a:is(:hover, :focus)):before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  box-shadow: 0 0 20px -2.5px var(--card-background);
  border-radius: var(--card-radius);
  top: 4px;
  left: 4px;
}

.warning {
  background-color: var(--color-accent-2-lighter);
  border: 2px solid var(--color-text-lighter);
  width: 66.6rem;
  max-width: 95vw;
  margin: 2rem auto -2rem auto;
  padding: 1rem;
  font-weight: 500;
  font-size: 0.85rem;
}

section {
  margin-top: 6rem;
}

section :is(h2, h3, h4, h5, h6) + p {
  margin-top: 0.5rem;
}

.about {
  display: block;
  width: 30rem;
  max-width: 95vw;

  text-align: center;
  margin: 0 auto;

  margin-top: 6.66rem;
  padding-top: 4.20rem;

  border-top: 2px solid var(--color-gray-1);
}

.about h2 {
  font-size: var(--size-text-xlarge);
}

.about p {
  font-weight: 500;
  margin-top: 1rem;
}

@media screen and (max-width: 25rem) {
  .card.branded a {
    display: block;
  }
  
  .card.branded a > span {
    display: block;
  }

  .card.branded a > span + span {
    text-align: left;
  }
}