---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Find me at:</h1>

<h2>Websites</h2>
<ul class="links">
  {% for link in collections.links %}
    <li class="card">
      <a href="{{ link.data.url }}">
        {{ link.data.label }}
      </a>
    </li>
  {% endfor %}
</ul>

<h2>Socials</h2>
<ul>
  {% for social in collections.socials %}
    <li><a href="{{ social.data.url }}">{{ social.data.label }}</a></li>
  {% endfor %}
</ul>