---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{# TODO: 
  - Split links up in components (too much repeated code)
  - Clean up code
  - Add more info
#}
<h2>Quick links</h2>
<ul class="links">
  {% for link in collections.highlighted %}
    {% include "_includes/components/linkCardBranded.njk" %}
  {% endfor %}
</ul>


{% for type in collections.linksByType %}
  <section>
    <h2>{{ type.title }}</h2>
    <p>{{ type.description }}</p>

    {% set linksArr = type.links %}
    {% include "_includes/components/linkList.njk" %}
  </section>
{% endfor %}
