---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{# TODO: 
  - Split links up in components (too much repeated code)
  - Clean up code
  - Add more info
#}
<h1>Find me at:</h1>


{% for type in collections.linksByType %}
  <h2>{{ type.title }}</h2>
  <p>{{ type.description }}</p>

  <ul class="links">
    {% for link in type.links %}
      <li 
        class="card"
        style="
          {% if link.data.theme %}
            {{ link.data.theme | log}}
            --card-background: {{ link.data.theme.primary }};
            --card-background-shadow: {{ link.data.theme.shadow }};
          {% endif %}
        "
      >
        <a href="{{ link.data.url }}">
          {{ link.data.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
