<footer>
  <p class="credits">
    Made by 
    <a href="{{ metadata.author.url }}">{{ metadata.author.name }}</a> 
    with <a href="{{ metadata.technology.url }}">{{ metadata.technology.name }}</a>.
  </p>
</footer>