<div class="about">
  <h2>About this page</h2>
  <p>
    This links page is built with Eleventy, the code can be viewed on 
    the <a href="https://github.com/sarahfossheim/links.fossheim.io">links.fossheim.io GitHub repo</a>.
    I'm building in the open 🧱 If you see something that's broken, feel free to open an issue. 
  </p>
</div>

<footer>
  <p class="credits">
    Made by 
    <a href="{{ metadata.author.url }}">{{ metadata.author.name }}</a> 
    with <a href="{{ metadata.technology.url }}">{{ metadata.technology.name }}</a>.
  </p>
</footer>