<header>
  <img 
    src="/static/img/{{ metadata.author.img.url}}"
    alt="{{ metadata.author.img.alt }}"
  />


  <div>
    <h1 class="name">
      {{ metadata.author.name }}
    </h1>

    <p> {{ metadata.author.about }} </p>
  </div>
</header>