<li 
  class="card branded"
  style="
    {% if link.data.theme %}
      --card-background: {{ link.data.theme.primary }};
      --card-background-shadow: {{ link.data.theme.shadow }};
    {% endif %}
  "
>
  <a 
    href="{{ link.data.url }}"
    {% if link.data.rel %}
      rel="me"
    {% endif %}
  >
    <span>{{ link.data.label }}</span>
    <span>{{ link.data.username or link.data.url }}</span>
  </a>
</li>