<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/fonts.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/variables.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/footer.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/header.css' | url }}">
  </head>
  <body>

    <div class="warning">
      <p>
        <strong>Note! This website is under construction.</strong>
        This is not a finished project, but a work in progress living on a 
        public url so I can collect feedback and share my process ☺︎ You may 
        find bugs or unfinished features, and that's expected ☺︎
      </p>
    </div>

    {% include "_includes/components/header.njk" %}

    <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    
    {% include "_includes/components/footer.njk" %}
  </body>
</html>
